#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Editor and go temporary files & folders
.swp
vendor

# Test binary, build with `go test -c`
*.test
# Generate test PKIs with `go generate`
**/testdata/crypto/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
.DS_Store
docs/build
bin
coverage.txt

# Exclude build directory
build
vc-test-suite
test/bdd/db
test/bdd/fixtures/keys/tls
*.log
