#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
name: build
on: [push, pull_request]
jobs:
  unitTest:
    name: Unit test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-18.04, macOS-10.14]
    steps:

    - name: Setup Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - uses: actions/checkout@v1

    - name: Run unit test
      timeout-minutes: 10
      run: make unit-test

    # TODO: need secret for Codecov from Actions
    #- name: Upload coverage to Codecov  
    #  timeout-minutes: 10
    #  uses: codecov/codecov-action@v1.0.2
    #  if: matrix.os == 'ubuntu-18.04'

  bddTest:
    name: BDD test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-18.04, macOS-10.14]
    steps:

      - name: Setup Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - uses: actions/checkout@v1

      - name: Run BDD test
        timeout-minutes: 10
        run: make bdd-test

  checks:
    name: Checks
    timeout-minutes: 10
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1

      - name: Run checks
        timeout-minutes: 10
        run: make checks
