#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
name: build
on:
  push:
    branches-ignore:
    - 'dependabot/**'
  pull_request:
jobs:
  unitTest:
    name: Unit test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-18.04, macOS-10.15]
    steps:

    - name: Setup Go 1.14
      uses: actions/setup-go@v2
      with:
        go-version: 1.14
      id: go

    - uses: actions/checkout@v2

    - name: Run unit test
      timeout-minutes: 10
      run: make unit-test

    - name: Upload coverage to Codecov
      timeout-minutes: 10
      if: matrix.os == 'ubuntu-18.04' && github.repository == 'hyperledger/aries-framework-go'
      uses: codecov/codecov-action@v1.0.6
      with:
        file: ./coverage.txt

  unitTestWasm:
    name: Unit test wasm
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-18.04, macOS-10.15]
    steps:

      - name: Setup Go 1.14
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
        id: go

      - uses: actions/checkout@v2

      - name: Run unit test wasm
        timeout-minutes: 10
        run: |
          if [ ${{ matrix.os }} = "macOS-10.15" ]; then
            brew install docker docker-machine
            curl --create-dirs -Lo ~/.docker/machine/cache/boot2docker.iso https://github.com/boot2docker/boot2docker/releases/download/v18.09.1-rc1/boot2docker.iso
            docker-machine create --driver virtualbox --virtualbox-boot2docker-url ~/.docker/machine/cache/boot2docker.iso default
            eval "$(docker-machine env default)"
          fi
          make unit-test-wasm

  bddTest:
    name: BDD test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      matrix:
        os: [macOS-10.15]
    steps:

      - name: Setup Go 1.14
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
        id: go

      - name: Setup Node.js
        uses: actions/setup-node@v1.4.0
        with:
          node-version: 12.14.x
          registry-url: "https://npm.pkg.github.com"

      - uses: actions/checkout@v2

      - name: Run BDD test
        timeout-minutes: 20
        run: |
          if [ ${{ matrix.os }} = "macOS-10.15" ]; then
            brew install docker docker-machine
            curl --create-dirs -Lo ~/.docker/machine/cache/boot2docker.iso https://github.com/boot2docker/boot2docker/releases/download/v18.09.1-rc1/boot2docker.iso
            docker-machine create --driver virtualbox --virtualbox-boot2docker-url ~/.docker/machine/cache/boot2docker.iso default
            docker-machine env default
            sudo -- sh -c -e "echo '$(docker-machine ip) localhost' >> /etc/hosts"
            eval "$(docker-machine env default)"
            brew install docker-compose
          fi
          function logout {
            docker logout docker.pkg.github.com
          }
          trap logout EXIT
          echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com --username $GITHUB_ACTOR --password-stdin
          make bdd-test

  checks:
    name: Checks
    timeout-minutes: 10
    runs-on: ubuntu-18.04
    steps:
      - name: Setup Go 1.14
        uses: actions/setup-go@v2
        with:
          go-version: 1.14

      - uses: actions/checkout@v2

      - name: Run checks
        timeout-minutes: 10
        run: make checks

  publish:
    name: Publish images and npm packages
    if: github.event_name == 'push' && ((github.repository == 'hyperledger/aries-framework-go' && github.ref == 'refs/heads/master') || (github.repository != 'hyperledger/aries-framework-go' && github.ref == 'refs/heads/afg-publish'))
    needs: [checks, unitTest, unitTestWasm, bddTest]
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
      - name: Setup Go 1.14
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
        id: go

      - name: Setup Node.js
        uses: actions/setup-node@v1.4.0
        with:
          node-version: 12.14.x
          registry-url: "https://npm.pkg.github.com"

      - uses: actions/checkout@v2

      - name: Publish docker images
        run: |
              function logout {
                docker logout docker.pkg.github.com
              }
              trap logout EXIT
              source ci/version_var.sh
              if [ "${IS_RELEASE}" = true ] || [ "${GITHUB_REF}" =  "refs/heads/afg-publish" ]; then
                echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com --username $GITHUB_ACTOR --password-stdin
                make agent-rest-docker
                docker tag aries-framework-go/agent-rest:latest  docker.pkg.github.com/${GITHUB_REPOSITORY}/agent-rest:$AGENT_IMAGE_TAG
                docker push docker.pkg.github.com/${GITHUB_REPOSITORY}/agent-rest:$AGENT_IMAGE_TAG
              fi

      - name: Publish npm packages
        working-directory: ./cmd/aries-js-worker
        run: |
          source ../../ci/version_var.sh
          if [ "${IS_RELEASE}" = true ] || [ "${GITHUB_REF}" =  "refs/heads/afg-publish" ]; then
            sed -i 's/"version": "0.0.1"/"version": "'$NPM_PKG_TAG'"/g' package.json
            sed -i 's#"name": "@hyperledger/aries-framework-go"#"name": "@'${GITHUB_REPOSITORY}'"#g' package.json
            sed -i 's#"url": "git://github.com/hyperledger/aries-framework-go.git"#"url": "git://github.com/'${GITHUB_REPOSITORY}'.git"#g' package.json
            npm install
            npm publish
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
